@using Domain.Users

@inject IUserService userService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AntonClub</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi" aria-hidden="true"><iconify-icon icon="material-symbols:home-outline"></iconify-icon></span> Домой
            </NavLink>
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="user-profile" Match="NavLinkMatch.All">
                        <span class="oi"><iconify-icon icon="carbon:user-profile"></iconify-icon></span> Профиль
                    </NavLink>
                </Authorized>
            </AuthorizeView>
            }
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
